:root {
    --color: rgb(255,255,255);
    --background-color: rgb(55,55,55);
    --shadow-color: rgb(0,0,0);
    --danger-color: rgb(127,0,0);
    --bezier: cubic-bezier(0,0,.58,1);
    --animation-speed: 0.25s;
    --spacing: 5px;
    --font: terminus;
}

* {
    margin: 0;
    padding: 0;
    color: var(--color);
    user-select: none;
}

@font-face {
    font-family: pixel;
    src: url("/fnt/04B03.ttf");
}

@font-face {
    font-family: terminus;
    src: url("/fnt/terminus_bold.ttf");
}

body {
    font-family: var(--font);
    text-shadow:
        -1px -1px 0 var(--shadow-color),
        1px -1px 0 var(--shadow-color),
        -1px 1px 0 var(--shadow-color),
        1px 1px 0 var(--shadow-color);
    background-color: var(--background-color);
}

.button {
    padding: var(--spacing);
    border: 1px solid var(--color);
}

.button:hover {
    cursor: pointer;
}

.button:active {
    filter: invert();
}

button, input {
    font-family: var(--font);
    background-color: var(--background-color);
    padding: var(--spacing);
}

textarea {
    background-color: var(--background-color);
    color: var(--color);
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    width: 150px; 
    height: 40px;
    transition: width var(--animation-speed) var(--bezier), 
                height var(--animation-speed) var(--bezier);
}

textarea:focus {
    width: 320px;
    height: 240px;
}

.flexColumn {
    display:flex;
    flex-direction:column;
}

.piechart {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    --h: calc(var(--p) / 100);
    background: conic-gradient(color(srgb calc(1 - var(--h)) var(--h) 0) calc(var(--p) * 1%),
            transparent 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .piechart {
        width: 20px;
        border-radius: 0;
        background: color(srgb calc(1 - var(--h)) var(--h) 0) calc(var(--p) * 1%);
        height: calc(var(--h) * 29px);
    }
}

.infoBox {
    position: fixed;
    top: 3.3rem;
    right: 0;
    padding: var(--spacing);
    border: 1px solid var(--color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--background-color);
    gap: 12px;
}

#close {
    cursor: pointer;
}

#yourStatistics > div {
    height: 40px;
    display: flex;
    align-items: end;
    justify-content: center;
}

#yourStatistics > div > strong {
    align-self: center;
    position: absolute;
}

.choice-modal {
    border: 1px solid var(--color);
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#navbar {
    z-index: 1;
    flex-shrink: 0;
    padding: var(--spacing);
    border: 1px solid var(--color);
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: -webkit-fill-available;
    flex-wrap: wrap;
}

#navbar>div {
    gap: var(--spacing);
    display: flex;
    align-items: end;
    margin: var(--spacing);
}

#textContainer {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    width: 100vw;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: baseline
}

#effectsList {
    position: absolute;
    bottom: var(--spacing);
    right: 10px;
    display: flex;
    align-items: end;
}

#effectsList > div {
    padding: var(--spacing);
    border: var(--color) 1px solid;
    width: fit-content;
}

.moveToLeft {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.blockOutBG {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: color-mix(in srgb, var(--shadow-color), transparent 50%);
    justify-content: center;
    align-items: center;
}

#popupBox {
    padding: 1rem;
    background-color: var(--background-color);
    border: 1px solid var(--color);

    display: flex;
    flex-direction: column;
    align-items: baseline;
}

/* CSS and core family tree structure taken from https://thecodeplayer.com/walkthrough/css3-family-tree */
/* Modified to fit better into my use case */

.tree ul {
	position: relative;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 20px;
}

.tree > ul > li > span {
	margin-bottom: 0px;
}

.tree > ul {
	padding-bottom: 0px;
}

.tree li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    float: none;
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 0px 1px 0 1px;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; right: 50%;
	border-bottom: 1px solid var(--color);
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid var(--color);
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid var(--color);
}

/*Time to add downward connectors from parents*/
.tree ul ul::after{
	content: '';
	position: absolute; left: 50%;
	border-left: 1px solid var(--color);
	width: 0; height: 20px;
    bottom: 0px
}

.tree li span{
	border: 1px solid var(--color);
	padding: 3px 1px;
	display: inline-block;
    margin-bottom: 20px;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/

.btn-danger { background-color: var(--danger-color); }